.placeholder {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.scroll {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.your-element-class::-webkit-scrollbar {
  display: none;
}
