.page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: #f9f9f9;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  padding: 2vh;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  font-weight: 500;
  font-size: 0.8rem;
}
